# C++ Build Artifacts
build/
bin/
obj/
x64/
out/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/
*.log
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.pdb
*.exe
*.dll
*.lib
*.exp

# IDEs
.vscode/
.idea/
.vs/

# System
Thumbs.db
Desktop.ini